*{
margin: 0;
padding: 0;
}

    
    
   body {
 font-family: helvetica; 
color: tomato;
 /* 1 pixel black shadow to left, top, right and bottom */
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background-image: url(Downloads/composicao-de-coracoes-de-ornamento-de-papel-vinoso_23-2148010194.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

#eita  {


margin-left: 20%;
border-radius: 20px;
}
