
{
margin: 0;
padding: 0;
 
}

body{
font-family: helvetica; 
    background-color: #b9d9d9;
    color: 1f2937;
}

#clientes  {
margin: 128px auto 28px;
     padding-left: ;
     
     
}
main {
     margin: 28px auto 28px;
     padding-left:%;
     display: block;
      
}

#Depoimentos {
    margin: 128px auto 28px;
     padding-left: ;

}