body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #e4e4e4;
}

header {
    background: #b4251d;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

.container {
    padding: 20px;
    max-width: 900px;
    margin: auto;
    background: white;
}

.card {
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    margin-top: 10px;
    border-left: 5px solid #f1170c;
}

.btn {
    display: inline-block;
    padding: 10px;
    background:#f1170c;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 5px;
}

footer {
    background:#b4251d;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
